@import 'styles/common';

.user-history-page {
  .user-with-balance {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-silver;
  }
  .show-more-history {
    padding-top: 8px;
    text-align: center;
  }
}