.card {
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  .card-header {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: $color-grey;
    padding: 20px 20px 0;
  }
  .card-body {
    padding: 20px;
  }
}
.card.widget {
  border-radius: 3px;
  overflow: hidden;
  .card-header {
    @include theme-gradient;
    padding: 8px 20px;
    color: $color-white;
    display: flex;
    .header-left {
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
    }
    .header-right {
      font-size: 12px;
    }
  }
}

.button {
  @include theme-gradient;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
  color: $color-white;
  cursor: pointer;
  border: 0;
  &[disabled] {
    opacity: 0.5;
  }
}

.form {
  .form-row {
    margin-bottom: 30px;
  }
  .form-label {
    color: $color-grey2;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .form-input {
    border: 1px solid $color-silver;
    border-radius: 10px;
    background-color: $color-white;
    height: 50px;
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
  }
}

.link {
  color: $color-purple;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
