@import 'styles/common';

.page-breadcrumb {
  background-color: $color-silver2;
  color: $color-grey;
  line-height: 1;
  .breadcrumb-inner {
    max-width: $page-content-width;
    margin: 0 auto;
    padding: 20px 10px 32px;
  }
  .breadcrumb-link {
    display: flex;
    font-size: 12px;
    a {
      display: inline-flex;
      color: inherit;
      text-decoration: none;
      img {
        margin-right: 8px;
      }
    }
  }
  .breadcrumb-title {
    font-size: 22px;
    text-align: center;
  }
}