@import 'src/styles/common';

.user-transactions {
  position: relative;
  .transactions-header {
    color: $color-grey;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .transaction-buttons {
    text-align: left;
    .button {
      margin-right: 10px;
    }
  }
  .table {
    max-width: 650px;
    td, th {
      padding: 8px 12px;
    }
  }
  .view-history {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.modal.transaction-change-reason {
  .modal-body {
    position: relative;
    padding: 30px;
  }
  .reason-msg {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
  }
}