@import 'src/styles/common';

.user-transactions {
  position: relative;
  .transactions-header {
    color: $color-grey;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .transaction-actions {
    text-align: left;
    .button:first-child {
      min-width: 182px;
      margin-right: 10px;
    }
  }
  .table {
    width: '100%';
    td, th {
      padding: 8px 12px;
    }
  }
}

.modal.transaction-change-reason {
  .modal-body {
    position: relative;
    padding: 30px;
  }
  .reason-msg {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
  }
}