.modal.float-alert-resolve {
  .modal-body {
    position: relative;
    font-size: 14px;
    padding: 30px;
  }
  .resolve-message {
    margin-bottom: 20px;
    text-align: center;
  }
  .button {
    width: 100%;
  }
}