@import 'styles/common.scss';

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-layout-header {
    .header-inner {
      max-width: $page-content-width;
      display: flex;
      margin: 0 auto;
      height: 65px;
      align-items: center;
      padding: 0 10px;
    }
    .header-logo {
      padding-right: 50px;
    }
    .header-nav {
      display: flex;
      flex: 1;
      justify-content: space-between;
      list-style-type: none;
      height: 100%;
      margin: 0;
      padding-left: 50px;
    }
    .header-nav-item {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 3px;
      position: relative;
      color: $color-grey;
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      &.active {
        font-weight: bold;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: $color-blue;
        }
      }
      &.log-out {
        font-weight: bold;
        color: $color-purple;
        text-transform: capitalize;
      }
    }
  }

  .page-layout-main {
    flex: 1;
  }

  .page-layout-footer {
    @include theme-gradient;
    .footer-inner {
      max-width: $page-content-width;
      display: flex;
      margin: 0 auto;
      font-weight: bold;
      font-size: 14px;
      color: white;
      padding: 15px 10px;
    }
    .footer-copyright {
      flex: 1;
      text-align: left;
    }
    .footer-contact-us {
      flex: 1;
      text-align: right;
    }
  }
}