@import 'styles/common';

.otp-form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  .phone-num {
    color: $color-purple;
    font-size: 18px;
    font-weight: 600;
  }
  .digits {
    margin: 20px 0 30px;
    .base-input {
      display: inline-block;
      width: 75px;
      margin: 0 5px;
      .input-control {
        text-align: center;
      }
    }
  }
  .otp-help {
    font-size: 13px;
    color: $color-grey2;
    margin-top: 30px;
    .link {
      font-size: inherit;
    }
  }
}