.modal.message-sent-result {
  .modal-content {
    max-width: 400px;
  }
  .modal-header {
    text-align: center;
  }
  .result-icon {
    text-align: center;
  }
  .result-text {
    margin: 20px 0 25px;
    text-align: center;
    line-height: 1.3;
  }
}