@import 'src/styles/common';

.condition-builder {
  font-size: 12px;
}

// condition group
.condition-builder .condition-group {
  position: relative;
  padding: 18px 0 0 10px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  .group-operator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .tab {
      height: auto;
      font-size: 12px;
      padding: 11px 15px;
    }
  }
  .group-actions {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    display: flex;
    .button {
      margin-left: 10px;
      border-color: $color-silver;
      border-width: 1px;
      background-color: $color-silver2;
    }
    .delete-group {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
  .group-inner {
    position: relative;
    border: 1px solid $color-silver;
    border-radius: 10px;
    padding: 27px 15px 10px 15px;
    box-shadow: -1px 0 0px $color-blue;
  }
  .no-rules {
    margin: -14px 0 4px;
    text-align: center;
    color: $color-grey2;
  }
}

// condition rule
.condition-builder .condition-rule {
  position: relative;
  background-color: $color-silver2;
  padding: 8px;
  padding-right: 50px;
  border-radius: 10px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  > .grid-row {
    margin: 0 -4px;
    > [class^="grid-col"] {
      padding: 0 4px;
    }
  }
  .base-input {
    .input-control {
      padding: 6px 16px;
      height: 40px;
    }
    &.radio {
      margin: 12px 0 0 4px;
      .radio-icon {
        width: 16px;
        height: 16px;
      }
    }
    &.select {
      width: 100%
    }
    &.disabled .input-control {
      border-color: $color-silver;
    }
  }
  .rule-period {
    @include flex-center;
    .link {
      font-weight: normal;
      text-decoration: underline;
    }
  }
  .delete-rule {
    position: absolute;
    top: calc(50% - 18px);
    right: 8px;
    width: 36px;
    height: 36px;
    border: 1px solid $color-silver;
    border-radius: 100%;
    background-color: $color-white;
    cursor: pointer;
    @include flex-center;
  }
}

// select period edit
.modal.condition-builder-period-edit {
  .modal-content {
    max-width: 500px;
  }
  .actions {
    margin-top: 15px;
    align-items: flex-end;
    .button {
      display: inline-block;
      width: 100px;
    }
  }
}