@import 'src/styles/common';

.condition-builder {
  font-size: 12px;
}

.condition-builder .condition-group {
  position: relative;
  padding: 18px 0 0 10px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .group-operator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .tab {
      height: auto;
      font-size: 12px;
      padding: 11px 15px;
    }
  }
  .group-actions {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    display: flex;
    .button {
      margin-left: 10px;
      border-color: $color-silver;
      border-width: 1px;
      background-color: $color-silver2;
    }
    .delete-group {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
  .group-inner {
    position: relative;
    border: 1px solid $color-silver;
    border-radius: 10px;
    padding: 15px;
    padding-top: 31px;
    box-shadow: -1px 0 0px $color-blue;
  }
  .no-rules {
    margin-top: -17px;
    text-align: center;
    color: $color-grey2;
  }
}

.condition-builder .condition-rule {
  position: relative;
  padding-right: 46px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .base-input {
    .input-control {
      padding: 8px 15px;
      height: 44px;
    }
    &.radio {
      margin-top: 12px;
    }
  }
  .delete-rule {
    position: absolute;
    top: 3px;
    right: 0;
    width: 36px;
    height: 36px;
    border: 1px solid $color-silver;
    border-radius: 100%;
    cursor: pointer;
    @include flex-center;
  }
}