@import 'src/styles/common';

.condition-builder {
  padding: 10px;
  .base-input .input-control {
    border-radius: 6px;
    font-size: 12px;
  }
}

.condition-builder .condition-group {
  position: relative;
  padding: 10px 0 0 8px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .group-operation {
    position: absolute;
    top: 0;
    left: 0;
    .base-input {
      width: 60px;
      .input-control {
        height: 22px;
        padding: 3px 2px;
        font-size: 12px;
        color: $color-purple;
      }
      .select-value {
        padding: 0 10px 0 4px;
        text-align: center;
      }
      .select-arrow {
        right: 5px;
      }
    }
  }
  .group-actions {
    position: absolute;
    top: 0;
    right: 20px;
    .button {
      height: 22px;
      padding: 0px 10px;
      font-size: 12px;
      font-weight: normal;
      text-transform: lowercase;
      border-width: 1px;
      border-radius: 6px;
      border-color: $color-silver;
      margin-left: 4px;
    }
  }
  .group-inner {
    border: 1px solid $color-silver;
    border-radius: 6px;
    padding: 20px 10px 10px 10px;
  }
}

.condition-builder .condition-rule {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .input-control {
    height: 36px;
    padding: 4px 15px;
  }
  .grid-row {
    margin: 0 -4px;
  }
  [class^="grid-col"] {
    padding: 0 4px;
  }
  .grid-col-1 {
    padding-top: 6px;
    .link {
      font-weight: normal;
      text-decoration: underline;
    }
  }
}