@import 'src/styles/common';

.base-input.textarea {
  .input-control {
    padding: 0;
    height: auto;
    overflow: hidden;
  }
  textarea {
    resize: none;
    height: auto;
    outline: none;
    font-size: 14px;
    font-family: inherit;
    border: 0;
    padding: 10px 15px;
    width: 100%;
    background-color: transparent;
  }
  .chars-counter {
    font-size: 11px;
    padding: 0 15px 15px;
    color: $color-grey2;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: right;
    mark {
      background-color: transparent;
      color: $color-blue;
      font-weight: 600;
    }
  }
}