@import 'styles/common';

.messages-list {
  .messages-list-inner {
    position: relative;
    max-width: $page-content-width;
    margin: 0 auto;
    padding: 25px 10px;
    min-height: 100px;
  }
  .messages-actions {
    .action-buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .quick-actions {
      font-size: 12px;
      color: $color-grey2;
      margin-bottom: 10px;
    }
  }
}