@import 'src/styles/common';

.float-allocation-table {
  max-width: 800px;
  .table {
    th, td {
      padding: 15px 15px 16px;
      height: 40px;
    }
  }
  .table.edit {
    tbody td {
      padding: 5px 15px;
    }
    tbody tr {
      background-color: $color-silver2;
      td:nth-child(2) {
        font-weight: bold;
        color: $color-grey;
      }
    }
    .base-input {
      display: inline-block;
      width: 80px;
      .input-control {
        padding: 9px 12px;
        height: auto;
      }
    }
  }
}

.float-allocation-table-confirm {
  .modal-content {
    max-width: 700px;
  }
  .modal-body {
    position: relative;
  }
  .table {
    margin: 20px 0 30px;
    th:nth-child(3),
    td:nth-child(3) {
      font-weight: bold;
      color: $color-red2;
    }
  }
  .reason-message {
    font-size: 14px;
    color: $color-grey2;
  }
  .reason-input {
    width: 300px;
    margin: 10px 0;
  }
  .confirm-actions {
    align-items: flex-end;
  }
}