@import 'src/styles/common';

.comparator-rates {
  position: relative;
  font-size: 14px;
  max-width: 700px;

  .bank-name {
    margin-top: 15px;
    .grid-row {
      min-height: 50px;
      align-items: center;
    }
    .bank-label {
      margin-right: 15px;
      color: $color-grey2;
      font-weight: 600;
    }
    .bank-value {
      color: $color-grey;
    }
    .base-input {
      display: inline-block;
      width: calc(100% - 100px);
    }
  }

  .bank-rates {
    margin-bottom: 25px;
    .bank-rates-list {
      margin-top: 15px;
      .bank-rate:last-child {
        border-bottom-width: 1px;
      }
    }
    .bank-rate {
      display: flex;
      align-items: center;
      border: 1px solid $color-silver;
      border-bottom-width: 0;
      padding: 18px 10px;
      .grid-row {
        flex: 1;
      }
      div[class*="grid-col-"] {
        display: flex;
        align-items: center;
        .base-input {
          flex: 1;
        }
        .input-control {
          height: auto;
        }
      }
    }
    .rate-label {
      color: $color-grey2;
      padding-right: 20px;
    }
    .rate-currency {
      color: $color-grey;
      font-size: 12px;
      padding: 0 8px;
    }
    .rate-value {
      color: $color-purple;
      padding: 0 10px;
    }
    .rate-remove {
      text-align: right;
      width: 40px;
      padding-right: 10px;
      img {
        cursor: pointer;
      }
    }
    .add-rate {
      display: block;
      margin-top: 2px;
      text-align: center;
    }
  }

  &.edit {
    .bank-rate {
      padding: 10px;
    }
  }
}