@import 'src/styles/common';

.modal.float-balance-edit {
  .modal-content .modal-body {
    position: relative;
    padding: 30px;
  }
  .balance-edit-message {
    margin: 20px 0;
    font-size: 14px;
    color: $color-grey2;
  }
  .change-button {
    width: 100%;
  }
}