$color-purple: #5353a1;
$color-blue: #35bad5;
$color-blue2: rgba(53, 186, 213, 0.07);
$color-white: #FFFFFF;
$color-grey: #4D565B;
$color-grey2: #787F83;
$color-silver: #D8D8D8;
$color-silver2: #eef2f8;
$color-orange: #fbc943;
$color-red: #ce0d25;

$page-content-width: 1200px;