@import 'src/styles/common';

.base-input.select {
  cursor: pointer;
  .input-control {
    position: relative;
  }
  .select-value {
    @include ellipsis;
    cursor: pointer;
    padding: 6px 20px 6px 0;
  }
  .select-arrow {
    $borderWidth: 5px;
    position: absolute;
    top: calc(50% - #{$borderWidth / 2});
    right: 15px;
    border: $borderWidth solid transparent;
    border-top-color: $color-grey2;
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
    cursor: inherit;
  }
}