@import 'styles/common';

.user-search {
  text-align: center;
  .manage-users {
    font-size: 20px;
    color: $color-grey;
  }
  .manage-description {
    font-size: 14px;
    color: $color-grey2;
    padding: 12px 0;
  }
  .search-by {
    margin-bottom: 10px;
    .radio {
      margin: 0 5px;
      .radio-icon {
        width: 18px;
        height: 18px;
      }
      .radio-text {
        padding: 0 6px;
      }
    }
  }
  .input-group {
    max-width: 650px;
    margin: 0 auto;
  }
}