.form {
}
.form-group {
  margin-bottom: 30px;
}
.form-label {
  color: $color-grey2;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  &.attention {
    color: $color-purple;
  }
}

.input-group {
  display: flex;
  .base-input {
    flex: 1;
    .input-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }
  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .section-num {
    display: flex;
    flex: 0 0 32px;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: $color-white;
    border-radius: 100%;
    background-color: $color-blue;
    font-size: 16px;
    font-weight: 600px;
  }
  .section-text {
    font-size: 18px;
    font-weight: 600;
    color: $color-grey;
    padding-left: 12px;
  }
}

.base-input {
  &.disabled .input-control {
    border: 0;
    background-color: $color-silver2;
    cursor: not-allowed;
  }
  &.attention .input-control {
    border-color: $color-purple;
    border-radius: 0;
  }
  .input-control {
    border: 1px solid $color-silver;
    border-radius: 10px;
    background-color: $color-white;
    height: 50px;
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: $color-grey;
  }
  .input-error {
    color: $color-red;
    font-size: 11px;
    padding-top: 4px;
  }
}