.grid-row {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;
}

.grid-col {
  flex: 1;
  padding: 0 10px;
  min-width: 0;
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    @extend .grid-col;
    flex: 0 1 #{percentage($i/12)};
  }
}
