

.button {
  @include theme-gradient;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
  color: $color-white;
  cursor: pointer;
  border: 0;
  &[disabled] {
    opacity: 0.5;
  }
}

.link {
  color: $color-purple;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
