.link {
  color: $color-purple;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  &.inactive {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.no-data {
  padding: 10px;
  font-size: 14px;
  color: $color-grey;
  text-align: center;
}