@import 'src/styles/common';

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  th {
    font-size: 12px;
    font-weight: 600;
    color: $color-grey;
    text-transform: uppercase;
  }
  td {
    font-size: 14px;
    color: $color-grey2;
  }
  td, th {
    border: 1px solid $color-silver;
    padding: 12px 10px;
    word-break: break-word;
  }
}

.table.table-compact {
  td, th {
    border-width: 0 0 1px 0;
  }
  td:first-child, th:first-child {
    padding-left: 0;
  }
  td:last-child, th:last-child {
    padding-right: 0;
  }
}