@import 'src/styles/common';

.home-page {
  background-color: $color-silver2;
  .page-content {
    padding: 45px 10px 55px;
  }
  .user-search {
    padding: 70px 0;
  }
  .clients-header {
    color: $color-grey;
    font-size: 20px;
    margin: 70px 0 15px;
  }
}