@import 'src/styles/common';

.dropdown-menu {
  display: inline-block;
  .menu-trigger {
    display: flex;
    cursor: pointer;
    .menu-trigger-dots {
      width: 20px;
      margin: 6px 0;
    }
  }
  .menu-list-wrap {
    position: relative;
  }
  .menu-list {
    display: none;
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 1;
    width: 110px;
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    li {
      color: $color-grey2;
      padding: 10px 14px;
      font-size: 12px;
      font-weight: normal;
      cursor: pointer;
      &:hover {
        background-color: $color-silver2;
      }
    }
  }
  &.open {
    .menu-list {
      display: block;
    }
  }
}