@import '~react-datepicker/dist/react-datepicker.css';
@import 'src/styles/common';

.base-input.date-picker {
  position: relative;

  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker {
    border-color: $color-silver;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }
  .react-datepicker__header {
    border-bottom-color: $color-silver;
    background-color: $color-silver2;
  }
  .react-datepicker__day:hover {
    background-color: $color-silver2;
  }
  .react-datepicker__triangle::before {
    border-bottom-color: $color-silver;
  }
  .react-datepicker__day.react-datepicker__day--selected {
    background-color: $color-purple;
  }
  .react-datepicker__day--keyboard-selected {
    color: inherit;
    background-color: transparent;
  }

  .base-input {
    padding-right: 30px;
  }
  .calendar-icon {
    position: absolute;
    top: calc(50% - 10px);
    right: 12px;
    cursor: pointer;
  }
  .date-clear {
    text-align: center;
    margin-top: -6px;
    padding-bottom: 6px;
  }

  &.disabled .calendar-icon {
    cursor: not-allowed;
  }
}