@import '~react-datepicker/dist/react-datepicker.css';
@import 'src/styles/common';

.base-input.date-picker {
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker {
    border-color: $color-silver;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }
  .react-datepicker__header {
    border-bottom-color: $color-silver;
    background-color: $color-silver2;
  }
  .react-datepicker__day:hover {
    background-color: $color-silver2;
  }
  .react-datepicker__triangle::before {
    border-bottom-color: $color-silver;
  }
  .react-datepicker__day.react-datepicker__day--selected {
    background-color: $color-purple;
  }
  .react-datepicker__day--keyboard-selected {
    color: inherit;
    background-color: transparent;
  }
  .react-datepicker__time-container {
    border-color: $color-silver;
  }

  .input-control {
    background-image: url(../../assets/images/calendar.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 13px) 50%;
  }
  .date-clear {
    clear: both;
    text-align: center;
    padding: 5px;
    border-top: 1px solid $color-silver;
  }

  &.disabled .calendar-icon {
    cursor: not-allowed;
  }
}