@import 'src/styles/common';

.audience-selection {
  position: relative;
  margin-bottom: 30px;
  .form-section {
    margin-bottom: 0;
    .button {
      margin: 0 20px;
    }
  }
  .preview-result {
    font-weight: normal;
    font-size: 14px;
    color: $color-green;
  }
  .selection-settings {
    padding: 22px 0;
    font-size: 14px;
    .base-input.radio:first-child {
      margin-left: 20px;
    }
    .radio-icon {
      width: 16px;
      height: 16px;
    }
    .setting-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    .setting-item.proportion {
      .base-input.input {
        margin: 0 5px 0 10px;
        .input-control {
          height: auto;
          padding: 6px 12px;
        }
      }
    }
  }
  .selection-hint {
    font-size: 14px;
    margin-bottom: 22px;
    color: $color-grey2;
    p {
      margin: 4px 0 0;
    }
  }
}