@import 'src/styles/common';

.message-form {
  padding: 10px 0;
  .msg-details {
    flex: 1.5;
    padding-right: 60px;
  }
  .details-box {
    background-color: $color-silver2;
    padding: 15px;
    border-radius: 10px;
    &.view-mode {
      background-color: transparent;
      border: 1px solid $color-silver;
    }
  }
}