@import 'styles/common';

.message-form {
  padding: 10px 0;
  display: flex;
  .msg-form-left {
    flex: 1.5;
    padding-right: 80px;
  }
  .msg-form-right {
    flex: 1;
  }
  .msg-details {
    background-color: $color-silver2;
    padding: 15px;
    border-radius: 10px;
    &.view-mode {
      background-color: transparent;
      border: 1px solid $color-silver;
    }
  }
}