@import 'src/styles/common';

.user-status-form {
  margin-bottom: 25px;
  .status-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    color: $color-grey;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .grid-row .grid-col:nth-child(3) {
    flex-direction: row;
    align-items: flex-end;
  }
}