@import 'src/styles/common';

.user-status-form {
  margin-bottom: 25px;
  .status-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    color: $color-grey;
  }
  .form-group {
    margin-bottom: 15px;
    .form-label {
      white-space: nowrap;
    }
  }
  .grid-row .grid-col-4.change-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .link {
      display: inline-block;
      margin: 0 0 20px 15px;
      text-decoration: underline;
    }
  }
}