@import 'src/styles/common';

.login-page {
  height: 100%;
  padding: 48px 10px;
  background-color: $color-silver2;
  .card-header {
    border-bottom: 0;
    padding: 25px 0 10px;
  }
  .form-actions {
    height: 50px;
    text-align: center;
  }
}